{% extends "job/layout.html.twig" %}

{% block title %}
    {{parent()}} -ajouter
{% endblock %}

 
{% block titre %}
    {{parent()|upper}} -ajouter un job
{% endblock %}

{% block job_body %}
<h1> Bonjour </h1>
    <p> Vous ete sur le point de ajouter le job ayant l'id </p>
{% endblock %}
