{% extends "base.html.twig" %}

{% block title %}
   {{parent()}} -job
{% endblock %}


{% block titre %}
   {{parent()|upper}} - un job
{% endblock %}

{% block body %}
   <div id="menu" class="col-md-3">
   </div>
   <div id="content" class="col-md-9">
    <p>
        Vous etes dans la partie job
    </p>
    {% block job_body %}
    {% endblock %}
    
   </div>  
{% endblock %}